body {
    font-family: Arial, sans-serif;
    background-color: #EADDCA;
    text-align: center;
  }
  
  header {
    background-color: #1B4D3E;
    color: white;
    padding: 20px;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }

  #bmi-calculator {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #bmi-calculator input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #bmi-calculator button {
    background-color: #1B4D3E;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #bmi-calculator button:hover {
    background-color: #29AB87;
  }
  

  
  a {
    text-decoration: none;
    color: #1B4D3E;
  }
  /* Styl pro AI avatar */
.avatar {
    width: 150px;       /* Změna šířky obrázku */
    height: 150px;      /* Změna výšky obrázku */
    border-radius: 50%; /* Kulatý rámeček */
    object-fit: cover;  /* Ořízne obrázek, aby se vešel do kruhu */
    border: 3px solid #29AB87; /* Zelený rámeček (army green) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Jemný stín pod obrázkem */
    margin-top: 10px;   /* Odsazení shora */
  }
  